body {
  background-color: #EEEEEE;
  font-family: Verdana, sans-serif;
}

header.main-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #503228;
  box-shadow: #38231c 0 2px 2px;
  align-items: center;
}

header.main-header > section.logo > img {
  height: 110px;
  width: 120px;
  object-fit: cover;
  border-radius: 100%;
}

header.main-header > nav > ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  padding: 0;
}

header.main-header > nav > ul > li {
  margin: 0 2em;
}

header.main-header > nav > ul > li > a {
  color: white;
}

body > main {
  /* display: grid; */
  grid-template-columns: 5fr 1fr;
  padding: 0 1.5em 3em;
  align-items: top;
}

a {
  color: #6e4537;
}

.no-stock {
  color: #dc2800;
}

.low-stock {
  color: #ba8d07;
}

.good-stock {
  color: #2bb302;
}

ul > li {
  list-style-type: none;
}

table, th, td {
  border: 1px solid black;
  padding: 10px;
  border-collapse: collapse;
}
