body {
  background-color: #EEEEEE;
  font-family: Verdana, sans-serif;
}

header.main-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #503228;
  box-shadow: #38231c 0 2px 2px;
  align-items: center;
}

header.main-header > section.logo > img {
  height: 110px;
  width: 120px;
  object-fit: cover;
  border-radius: 100%;
}

header.main-header > nav > ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  padding: 0;
}

header.main-header > nav > ul > li {
  margin: 0 2em;
}

header.main-header > nav > ul > li > a {
  color: white;
}

body > main {
  /* display: grid; */
  grid-template-columns: 5fr 1fr;
  padding: 0 1.5em 3em;
  align-items: top;
}

a {
  color: #6e4537;
}

.no-stock {
  color: #dc2800;
}

.low-stock {
  color: #ba8d07;
}

.good-stock {
  color: #2bb302;
}

/* .content-table {
  display: flex;
}

.sidebar {
  display: flex;
  justify-content: flex-end;
  margin: 1em 1em;
} */

/* .main { */
  /* margin: 0 1.5em;
  padding: 0 1.5em 3em;
  background-color: #F7F7FF; */
  /* display: grid;
  grid-gap: 3em;
  grid-template-columns: 3fr 1fr;
  position: relative; */
}

/* .main-nav {
  width: 130px;
  float: left;
  margin: 0;
  padding: 0;
  display: block;
}

.main-nav li {
  text-align: center;
}

.main-nav a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
} */
/*
.main-nav a:hover {
  background-color: #555;
  color: white;
} */

/* .main {
  float: right;
  background-color: #66CCFF
} */

ul > li {
  list-style-type: none;
}

table, th, td {
  border: 1px solid black;
  padding: 10px;
  border-collapse: collapse;
}

/* p.add-item {
  float: right;
} */
