<h1>Labels</h1>

<p class="add-item">
  <a href="/labels/new">Add new label</a>
</p>

<% for label in @labels %>
    <ul>
      <li>
          <a href="/labels/<%= label.id %>"> <%= label.name %></a> <br>

      </li>
    </ul>
<% end %>
