<div class="title-add">
  <h1>Labels</h1>

  <p class="add-item">
    <a href="/labels/new">Add new label</a>
  </p>
</div>

<br>

<% for label in @labels %>
    <ul>
      <li>
          <a href="/labels/<%= label.id %>"> <%= label.name %></a> <br>

      </li>
    </ul>
<% end %>

<br>
<br>
<p class="back"><a href="/albums">Back to Albums list</a></p>
