<h1><%= @label.name %></h1>

<h2> Artists and Albums</h2>

<ul>

  <% @label.albums.each do |album| %>
    <li><a href="/albums/<%= album.id %>"><%= album.artist.name %> - <%= album.title %></a></li>
  <% end %>

</ul>
