<h1>Artists</h1>

<p class="add-item">
  <a href="/artists/new">Add new artist</a>
</p>

<% for artist in @artists %>
    <ul>
      <li>
          <a href="/artists/<%= artist.id %>"><%= artist.name %> </a> <br>

      </li>
    </ul>
<% end %>
